In [1]:

Pi = 3.14159
pi = 3.14159
3pi = 3.14159*3
pi_2 = 3.14159**2
pi^2 = 3.14159**2
my radius = 5
My_Radius = 5

SyntaxError: invalid syntax (<ipython-input-1-eb27d8134ad4>, line 3)

In [2]:
class = 5

SyntaxError: invalid syntax (<ipython-input-2-5ff19d2568a1>, line 1)

In [3]:

x = '2'
y = z = 2

print(x * y)
print(x + x)
print(y * z)
print((y+z)**z)
print(y/(y+z))

print( type(x * y) )
print( type(y * z) )
print( type((y+z)**z) ) 
print( type(y/(y+z)) )

22
22
4
16
0.5
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

In [4]:
x = '2'
type(x)

str

In [5]:
x * y

'22'

In [6]:
x + x

'22'

In [7]:
s = '1'
s + s

'11'

In [8]:
x + s

'21'

In [9]:
x * s

TypeError: can't multiply sequence by non-int of type 'str'

In [10]:
x = 12
y = 10

z = x + y
x = x + y
y = z + y

In [11]:
z

22

In [12]:
x

22

In [13]:
y

32

In [14]:
x = 1 + 2 * 3 / 4
y = (1 + 2) * (3 / 4)
z = 1 + 2 * (3 / 4)

print(x)
print(y)
print(z)

2.5
2.25
2.5

In [15]:
x = 10
y = 3

print( x % y ) # 1
print( x + y ) # 13
print( x == y ) # False
print( x ** y ) # 1000
print( x - y ) # 7
print( x // y ) # 3

1
13
False
1000
7
3

In [16]:
v = 4 / 3 * 3.14 * 6 ** 3

In [17]:
print(v)

904.3199999999999

In [18]:
r = (3 / 4 * 14137 / 3.1415) ** (1 / 3)
print(r)

15.000088421499392

In [19]:
x=1

if x > 0 and x < 5:
    print("Joe")

if x > 0 or x < 5:
    print("Aled")

if not(x > 0):
    print("Sarah")

Joe
Aled

In [20]:
Aled
x = [1,4]

NameError: name 'Aled' is not defined

In [22]:
x = 5
y = 4

if x != y:
    print("x is not equal to y")
    
    if x > y:
        print("x is greater than y")
    
    else:
        print("x is less than y")

else:
    print("x is equal to y")

x is not equal to y
x is greater than y

In [23]:
x = 2
y = 3

if x != y:
    print("x is not equal to y")
    
    if x > y:
        print("x is greater than y")
    
    else:
        print("x is less than y")

else:
    print("x is equal to y")

x is not equal to y
x is less than y

In [27]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']

# Print out London from cities:
print(cities[1])

# Print out Tokyo using *negative* indexing:
print(cities[-2])

# Print out Beijing and Tokyo using a list slice
print(cities[2:4])

# Print out London to Delhi using a slice
print(cities[1:]) # You could also do cities[1:4] but this way is neater

# Combine positive and negative indexing to print out London, Beijing and Tokyo using a list slice
print(cities[-4:-1])

# Print out the position of New York in the list by searching for it (i.e. you can't just type 0)
print(cities.index("New York") )

London
Tokyo
['Beijing', 'Tokyo']
['London', 'Beijing', 'Tokyo', 'Delhi']
['London', 'Beijing', 'Tokyo']
0

In [28]:
# Cause an 'IndexError: list index out of range' errr

In [29]:
# Cause a ValueError using the city of Toronto
print(cities.index("Toronto"))

ValueError: 'Toronto' is not in list

In [32]:

# Just in case you make a mistake...
cities = ['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']

cities.insert(2,"Toronto")
print(cities)

['Tokyo', 'New York', 'Toronto', 'London', 'Delhi', 'Beijing']

In [31]:
cities.sort(reverse=True)
print(cities)

['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']

In [33]:
print(cities
     )

['Tokyo', 'New York', 'Toronto', 'London', 'Delhi', 'Beijing']

In [34]:
cities.pop("New York")

TypeError: 'str' object cannot be interpreted as an integer

In [47]:
cities = ['Tokyo', 'New York', 'Toronto', 'London', 'Delhi', 'Beijing']
print(cities)

p = "New York"
cities.remove(p)
print(p)
print(cities)

['Tokyo', 'New York', 'Toronto', 'London', 'Delhi', 'Beijing']
New York
['Tokyo', 'Toronto', 'London', 'Delhi', 'Beijing']

In [48]:
if 'Moscow' in cities:
    print("Found M!")
else:
    print("Not a city!")

Not a city!